/* Styles.css */

@font-face {
    font-family: 'airstreamregular';
    src: url(./assets/fonts/Airstream-webfont.woff) format('woff');
    font-weight: normal;
    font-style: normal;
    }

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image:image(images/JJbg.jpg)
}

#background {
    position: fixed;
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
    filter: brightness(1.2);
    z-index: -2; 
}

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: space-between;
    align-items: center;
    align-content: space-between;
    color: white;
    font-size: 30px;
    background-color: black;
    opacity: 70%;
    flex-wrap: nowrap;
    height: 250px;
}

 .logo{
    display: flex;
    padding: 50px;
    margin-left: -20px;
    padding: 0px;
    max-height: 250px;
    max-width: 250px;
    border-radius: 8px; 
    flex: 1;
}   

img {
    max-height: 100%;
    min-width: 100%;
    object-fit: cover;
    vertical-align: bottom;
  }          

ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    background-color: transparent;
  }
  
  li {
    height: 40vh;
    flex-grow: 1;
  }

  li:last-child {
    flex-grow: 10;
  }

.box2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
    padding: 0;
    margin: 0;
    height: 15px;
    width: auto;
}

footer {
    font-family: 'airstreamregular';
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    background-color: black;
    font-size: 45px;
    color: white;
    margin-top: auto;
    flex: 1;
    opacity: 70%;
}

nav {
    font-family: 'airstreamregular';
    font-size: 50px;
    font-weight: lighter;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    flex: 1;
    gap: 45px;
    color: white;
    padding: 10px;
    margin: 10px;
}

.introtext {
    font-family: 'airstreamregular';
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: nowrap;
    flex: 1;
    padding-top: 15%;
    padding-bottom: 25%;
    margin: 0px;
    font-size: 125px;
    color: white;
    opacity: 70%;
}

.content-body, .content-body2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: space-around;
}

.artwork, .recent, .client {
    font-family: 'airstreamregular';
    font-size: 65px;
    text-align: center;
    padding: 0px;
    color: white;
    background-color: #101010;
    opacity: 70%;
}

.review-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 3%;
    margin: 5%;
    opacity: 70%;
}

.reviews {
    font-family: 'airstreamregular';
    font-size: 65px;
    text-align: center;
    padding: 0px;
    color: white;
    background-color: #101010;
}

a:link, :visited, :active {
    text-decoration: none;
    color: white;
  }
  
a:hover {
    text-decoration: none;
    color: crimson;
  }