/* Styles.css */

    body {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }

    header {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-content: space-between;
        align-items: center;
        color: white;
        font-size: 30px;
        background-color: black;
        min-height: 100%;
        min-width: 100%;
        flex-wrap: nowrap;
    }

    img {
        display: flex;
        margin-left: -75px;
        padding: 0px;
        max-width: 50%;
        border-radius: 8px;
    } 

    footer {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-content: center;
        align-items: center;
        background-color: black;
        font-size: 20px;
        color: white;
        margin-top: auto;
        flex: 1;
    }

    nav {
        font-size: 34px;
        font-weight: lighter;
        display: flex;
        flex: 1;
        gap: 45px;
        color: white;
    }

    .introtext {
        display: flex;
        justify-content: center;
        padding: 10%;
        margin: 10px;
        font-size: 45px;
    }

    h1 {
        font-size: 50px;
    }

    h2 {
        font-size: 30px;
        display: flex;
        justify-content: center;
        padding: 25%;
    }
    a:link, :visited, :active {
        text-decoration: none;
        color: white;
      }
      
    a:hover {
        text-decoration: none;
        color: crimson;
      }

